/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

html {
   // animation: colorchange-background 5s linear 1s infinite alternate;
    background-color: $background-color;
    
}
// Parallax Elements

body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
    color: $color;
    box-sizing: border-box;
    @include body-font-regular;
    @include fontSize(20px);
    padding: 0 8px;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }
// Parallax Base Styles
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }

//END OF PARALLAX 

body {
    color: $color;
    box-sizing: border-box;
    @include body-font-regular;
    @include fontSize(20px);
    padding: 0 8px;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}


h1, h2 {
    @include fontSize(60px);
    @include headline-font;
}

h3 {
    text-align: center;
    @include body-font-italic;
    @include fontSize(30px);
    margin-top: -50px;
    padding: 5px;
}

identity-headline {
    text-align: center;
    width: 200px;
    
}

